.table-card-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 3vw;

  .table-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border: 1px solid #2570bb;
    border-radius: 8px;
    gap: 5px;

    .table-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .ocupada {
        color: rgb(193, 26, 26);
        font-weight: bold;
        background-color: rgba(252, 202, 202, 0.757);
        padding: 2px 6px;
        border-radius: 8px;
      }
      .libre {
        color: rgb(16, 112, 16);
        font-weight: bold;
        background-color: rgba(144, 238, 144, 0.757);
        padding: 2px 6px;
        border-radius: 8px;
      }
    }

    button {
      align-self: center;
      background-color: white;
      color: #000000;
      font-weight: 600;
      width: 130px;
      padding: 8px;
      border-radius: 5px;
      border: #10375e 1px solid;

      &:hover {
        background-color: #2570bb;
        color: white;
        cursor: pointer;
        transition: 0.7s;
      }
    }
  }
}

.category-btn {
  background: #f1f1f1;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.3rem;
  transition: background 0.2s;
}

.category-btn.active {
  background: #007bff;
  color: white;
}

.category-btn:hover {
  background: #e1e1e1;
}

.table-container {
  margin-top: 1rem;
  overflow-x: auto;
}

.confirm-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-top: 1rem;
  width: 100%;
  font-size: 20px;
}

.confirm-btn:hover {
  background: #218838;
}
