.admin-dashboard-preview {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: center;

  .preview-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #f4f4f4;
    border: none;
    border-radius: 20px;
    padding: 2rem;
    width: 230px;
    height: 230px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .preview-card:hover {
    transform: translateY(-5px);
    background-color: #def8e5;
  }

  .icon-container {
    color: #1b7b3f;
  }

  .preview-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
  }
}
