/*
 * --------------------------------------------------
 * Estilos globales y reseteo
 * --------------------------------------------------
 */

/* Reseteo básico para eliminar márgenes y padding por defecto del navegador */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  text-decoration: none;
  position: relative;
}

html {
  font-size: 16px; /* Define el tamaño de fuente base */
  line-height: 1.5; /* Altura de línea estándar */
}

body {
  font-family: Arial, sans-serif; /* Fuente principal para el texto */
  color: #333; /* Color de texto base */
  background-color: #ffffff; /* Color de fondo */
}

/*
 * --------------------------------------------------
 * Variables de CSS (Custom Properties)
 * --------------------------------------------------
 */
:root {
  --primary-color: rgb(230, 241, 230);
}

/*
 * --------------------------------------------------
 * Estilos Generales
 * --------------------------------------------------
 */

.shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
  cursor: pointer;
  border: none;
  &:focus {
    outline: none;
  }
}

.green-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
  background-color: #1a8631;

  &:hover {
    transition: 0.7s;
    background-color: #136425;
  }
}

.blue-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
  background-color: #3876d8;

  &:hover {
    transition: 0.7s;
    background-color: #133264;
  }
}

.word-break {
  overflow-wrap: break-word;
  white-space: nowrap; /* Evita saltos de línea */
  overflow: hidden; /* Oculta el texto que sobrepasa el contenedor */
  text-overflow: ellipsis;
  /*agrgar max-width en el estilo normal*/
}

/*
 * --------------------------------------------------
 * Estructura Principal
 * --------------------------------------------------
 */

.principal-main {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    .main-section {
      width: 98vw;
    }
  }
}
