.orders-handler-view {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
  gap: 10px;
  scroll-behavior: smooth;
  .explain-text-mobile {
    display: none;
  }

  @media (max-width: 720px) {
    .explain-text-mobile {
      display: block;
    }
    .explain-text-desktop {
      display: none;
    }
    h1 {
      font-size: 1.3rem;
    }
  }

  .content {
    display: flex;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 8px;
    background-color: #ffffff;

    @media (max-width: 720px) {
      margin-bottom: 50px;
      flex-direction: column;
      align-items: center;
      .separator-mobile {
        width: 100%;
      }
    }
  }

  .orders-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
    border-right: 1px solid rgb(183, 183, 183);

    padding: 10px;
    .orders-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      h2 {
        font-size: 1.2rem;
      }
    }

    .card-container {
      width: 100%;
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      overflow-y: auto;
      scrollbar-width: none;
      cursor: pointer;
      .order-card {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 10px;
        border-radius: 8px;
        border: 1px rgb(188, 185, 185) solid;
        background-color: white;
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      button {
        background-color: transparent;
        svg {
          color: grey;
          &:hover {
            color: rgb(186, 127, 127);
          }
        }
      }
    }

    .order-footer {
      display: flex;
      flex-direction: column;
    }

    .action-btn {
      height: auto;
      width: auto;
      padding: 5px 10px;
      background-color: rgb(62, 129, 92);
      border-radius: 8px;
      border: 1px solid rgb(69, 109, 169);
      color: white;

      &:hover {
        background-color: rgb(89, 135, 110);
      }
    }
    .separator-mobile {
      display: none;
    }
    @media (max-width: 720px) {
      border-right: none;
      height: 280px;
      width: 100%;
      .card-container {
        height: 320px; /* ajusta según el alto de la card */
        flex-direction: row;
        align-items: center;
        overflow-x: auto; /* scroll horizontal */
        overflow-y: hidden;
        gap: 10px;
        padding-bottom: 10px; /* para que no tape el scroll */
        min-width: 100% !important;
      }

      .order-card {
        width: 180px !important;
        flex: 0 0 auto; /* evita que se achiquen */
      }

      .order-footer {
        font-size: 0.7rem;
        button {
          width: 200px;
          align-self: center;
          font-weight: 600;
        }
      }
    }
  }

  /*------------------Subvista--------------------- */

  .handle-order-container {
    width: 100%;
    padding: 10px;

    .filter-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      flex-wrap: wrap;

      @media (max-width: 1020px) {
        gap: 10px;
        flex-direction: column;

        .menu-search {
          width: 90%;
        }
        .menu-filters {
          margin: 0;
          justify-content: center;
        }
      }
    }

    .menu-search {
      width: 44%;
      padding: 0.6rem;
      margin: 0.8rem 0;
      border-radius: 8px;
      border: 1px solid #ddd;
    }

    .menu-filters {
      display: flex;
      gap: 0.5rem;
      width: 50%;
      align-items: center;
      @media (max-width: 720px) {
        width: 100%;
        flex-wrap: wrap;
      }
    }

    .filter-btn {
      padding: 0.5rem 1rem;
      border-radius: 20px;
      border: none;
      background: #f0f0f0;
      cursor: pointer;
    }

    .filter-btn.active {
      background: #333;
      color: #fff;
    }

    .menu-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 1rem;
      margin-bottom: 2vw;
    }
    /*Estilo para los platillos disponibles------------------------*/
    .menu-cards-container {
      h3 {
        font-size: 1rem;
      }

      .dishes-grid {
        width: 100%;
        height: 250px;
        display: grid;
        gap: 10px;
        margin-top: 1vw;

        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        justify-items: center;
        overflow-y: auto;
        padding: 5px;
        scrollbar-width: thin;

        .dish-card {
          padding: 10px;
          height: 70px;
          width: 180px;
          border-radius: 8px;
          border: 1px solid rgb(51, 69, 95);
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          &:hover {
            background-color: rgb(198, 226, 247);
          }

          h4 {
            font-size: 15px;
            overflow-wrap: break-word;
            white-space: nowrap; /* Evita saltos de línea */
            overflow: hidden; /* Oculta el texto que sobrepasa el contenedor */
            text-overflow: ellipsis;
            max-width: 100%; /* Ajusta el tamaño del contenedor */
          }
          p {
            font-size: 14px;
          }
        }
      }
    }

    /*Estilo para carrito------------------------*/
    .order-summary-container {
      padding: 5px;

      .order-list {
        width: 100%;
        height: 200px;
        overflow-y: auto;
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;

        article {
          justify-content: center;
          border-radius: 8px;
          max-width: 300px;
          height: 70px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          border: 1px rgb(131, 131, 131) solid;
          .btn-group{
            display: flex;
            gap: 10px;
            justify-content: space-around;
            .reduce-btn{
              background-color: rgb(243, 160, 160); 
              border: rgb(173, 33, 33) 1px solid;
            }
            button {
            padding: 5px;
            align-self: center;
            border-radius: 8px;
            
            &:hover {
              background-color: rgb(218, 140, 140);
            }
          }
          }  
        }
      }
    }
  }

  .return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 80px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: rgb(163, 34, 34);
    color: white;

    &:hover {
      background-color: rgb(138, 81, 81);
    }
  }

  .local-nav {
    display: none;
  }

  @media (max-width: 720px) {
    .local-nav {
      position: fixed; /* más confiable que sticky en mobile */
      top: 50%; /* centrado vertical */
      right: 0; /* margen desde el borde */
      transform: translateY(-50%); /* para que quede centrado exacto */
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 2000;
      background-color: rgb(236, 236, 236);
      border-radius: 8px 0 0 8px;

      a {
        padding: 5px;
        color: black;
      }
    }
  }
}
