.orders-handler-view {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  overflow-y: auto;
  gap: 10px;
  scroll-behavior: smooth;

  /*------------------Subvista--------------------- */

  .handle-order-container {
    width: 100%;

    /*Estilo para los platillos disponibles------------------------*/
  }

  .return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 80px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    right: 1%;
    top: 1%;
    background-color: rgb(163, 34, 34);
    color: white;

    &:hover {
      background-color: rgb(138, 81, 81);
    }
  }
}
