/*----dialog----*/
.dialog-recipe {
  dialog {
    min-width: 50vw;

    .custom-dialog-content {
      gap: 10px;
    }
  }
  .dialog-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    h1 {
      font-size: clamp(18px, 2.5vw, 24px);
      margin: 0;
    }
    p {
      color: gray;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  .dialog-recipe-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: clamp(12px, 1.1vw, 16px);

    span {
      font-weight: 600;
      color: gray;
    }
  }

  .dialog-lists {
    ul {
      list-style-type: disc;
      padding-left: 20px;
      font-size: clamp(12px, 1.1vw, 16px);
    }
    ol {
      list-style-type: decimal;
      padding-left: 20px;
      font-size: clamp(14px, 1.1vw, 16px);

      li::marker {
        font-weight: bold;
      }
    }
  }

  @media (max-width: 720px) {
    dialog {
      min-width: 80vw;
    }

    margin-top: 20px;
    gap: 25px;

    .dialog-header {
      display: flex;
      flex-direction: column;
      gap: 1px;
      span {
        display: none;
      }
    }

    .dialog-recipe-info {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      gap: 5px;
    }

    .dialog-lists {
      ul {
        font-size: 14px;
      }
      ol {
        font-size: 14px;
      }
    }
  }
}
